<div class="signature-container" [ngClass]="{'inital-value': initialValue, 'readonly': readonly}">
  <div class="signature-canvas">
    <canvas #canvas></canvas>

    <div class="img-container" *ngIf="initialValue">
      <img [src]="initialValue"
           [width]="canvasWidth"
           [height]="canvasHeight"
           alt="signature">

      <div class="signature-exists">
        You can not edit existing signature
        <br>
        Clear to make new one
      </div>
    </div>

    <div class="line"></div>
    <div class="label">
      {{label}}
    </div>

    <ng-container *ngIf="!readonly">
      <button
        mat-icon-button
        class="clear"
        type="button"
        tabindex="-1"
        matTooltip="Clear Signature"
        (click)="clear()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
