<div class="signature-container" [ngClass]="{'inital-value': initialValue, 'readonly': readonly}">
  <div class="signature-canvas">
    <canvas #canvas></canvas>

    <img
      *ngIf="initialValue"
       class="signature-image"
      [src]="initialValue"
      [width]="canvasWidth"
      [height]="canvasHeight"
      alt="signature">

    <div class="line"></div>
    <div class="label-hint">
      <div class="label">
        {{label}}
      </div>
      <div *ngIf="(!readonly && initialValue) || hint" class="hint">
        {{ initialValue ? 'Clear to create a new signature' : hint }}
      </div>
    </div>

    <ng-container *ngIf="!readonly">
      <button
        mat-icon-button
        class="clear"
        type="button"
        tabindex="-1"
        matTooltip="Clear Signature"
        (click)="clear()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
