<div 
    class="signature-container" 
    [ngClass]="{ 
      'inital-value': url, 
      'readonly': readonly 
    }">
  <div class="signature-canvas">
    <canvas
      #canvas
      [width]="width"
      [height]="height">
    </canvas>

    <img
      *ngIf="url"
      class="signature-image"
      [src]="url"
      alt="signature">

    <div class="line"></div>
    <div class="label-hint">
      <div class="label">
        {{label}}
      </div>
      <ng-container *ngIf="!readonly">
        <div *ngIf="(url || svg) || hint" class="hint">
          {{ (url || svg) ? 'Clear to create a new signature' : hint }}
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="!readonly">
      <button
        mat-icon-button
        class="clear"
        type="button"
        tabindex="-1"
        matTooltip="Clear Signature"
        (click)="clear()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
